[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
python-decouple = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.12"
